{
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "parser": "babel-eslint",
        "project": "./tsconfig.json"
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "airbnb-typescript/base"
    ],
    "rules": {
      "import/prefer-default-export" : "off"
    }
}
