<mat-card>
  <mat-form-field>
      <mat-label>Roll your dice:</mat-label>
      <input matInput placeholder="2D6+3" [(ngModel)]='diceRoll.diceCommand' (keyup)="onKey($event)">
  </mat-form-field>
  <button type="button" mat-button color="primary" (click)="onClick()"> {{rollStatus}} </button>

  <br/>
  <div *ngIf="diceRoll.validCommand === true">
      Result : {{diceRoll.getVerboseResult()}} <br/><br/>
      Min: {{diceRoll.stats.min}}, Average: {{diceRoll.stats.average}}, Max: {{diceRoll.stats.max}} <br/>
      Halved: {{diceRoll.stats.halved}}
  </div>
</mat-card>
