<mat-card class='dice-roll-box'>

  Dice box works!
<!--   <mat-form-field>
      <mat-label>Roll your dice:</mat-label>
      <input matInput placeholder="2D6+3" [(ngModel)]='d.diceCommand' (keyup)="onKey($event)">
  </mat-form-field>
  <button type="button" mat-button color="primary" (click)="onClick()"> {{rollStatus}} </button>

  <br/>
  <div *ngIf="d.validCommand === true">
      Result : {{d.getVerboseResult()}} <br/>
      Min: {{d.stats.min}}, Average: {{d.stats.average}}, Max: {{d.stats.max}} <br/>
      Halved: {{d.stats.halved}}
  </div> -->
</mat-card>
