<mat-card>
  <button mat-button [matMenuTriggerFor]="menu">Table Size</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let dice of diceTypes" (click)="tableResize(dice)" > {{dice}} </button>
  </mat-menu>
</mat-card>

<mat-card>

  <table mat-table [dataSource]="tableOfEvents.records" class="mat-elevation-z8">

    <ng-container matColumnDef="Roll">
      <th mat-header-cell *matHeaderCellDef> Roll </th>
      <td mat-cell *matCellDef="let element"> {{element.fields.order}} </td>
    </ng-container>

    <ng-container matColumnDef="Rarity">
      <th mat-header-cell *matHeaderCellDef> Rarity </th>
      <td mat-cell *matCellDef="let element"> {{element.fields.Rarity}} </td>
    </ng-container>

    <ng-container matColumnDef="Encounter Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fields['Encounter Name']}} </td>
    </ng-container>

    <ng-container matColumnDef="Encounter Type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.fields['Encounter Type']}} </td>
    </ng-container>

    <ng-container matColumnDef="Encounter Description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.fields['Encounter Description']}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</mat-card>
