@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";

@include mat-core();

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  margin: 10px;
  padding: 5px;
  border: none;
  @include mat-elevation(0);
}

.mat-card {
  margin: 5px;
  @include mat-elevation(2);
}

.mat-cell {
  padding: 8px 8px 8px 0;
}

.mat-toolbar {
  @include mat-elevation(2);
}
